.selector-doc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 0;
    padding: 0;
    width: 100%;
}
.select-title h2 {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 32px;
    text-align: center;
}
.container-select {
    margin: 0;
    padding: 0;
}
.selector-doc label {
    margin: -20px 0;
    padding: 0;
    font-family: arial;
    font-size: 22px;
}
.pg-select {
    width: auto;
    height: 35px;
    margin: 0;
    padding: 0;
    font-family: arial;
    font-size: 18px;
    text-align: center;
    color: black;
    background-color: darkcyan;
    border: 2px solid darkblue;
    border-radius: 3px;
}
.pg-iframe {
    display: flex;
    justify-content: center;  
    align-items: center;     
    flex-direction: column;
    margin:20px;
}
.pg-iframe #visor {
   margin: 0;
   padding: 0;
   border: none;
   outline: none;
}
.btn-3d {
    position: absolute; 
    top: 200px;            
    right: 120px; 
    width: 120px;
    height: 40px;
    margin: 20px;
    padding: 0 20px;
    padding-top: 20px;
    font-family: arial;
    font-size: 20px;
    text-align: center;
    background-color: darkcyan;
    border: 2px solid darkblue;
    border-radius: 3px;
}
.btn-3d:hover {
    background-color: cyan;
    border-color: blue;
}
.btn-3d a {
    color: white;
    text-decoration: none;
}
